* {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
  color: white;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

body, html {
  overflow-x: hidden; }
  body section, html section {
    overflow-y: hidden; }

html {
  font-size: 16px;
  scroll-behavior: smooth; }
  @media (max-width: 479px) {
    html {
      font-size: 12px; } }
  @media (max-width: 1200px) {
    html {
      font-size: 14px; } }

.container-fluid {
  padding: 0 !important; }
  .container-fluid:first-child {
    background-color: black; }

h1 {
  font-family: "Permanent Marker", sans-serif;
  font-size: 3.5rem;
  text-shadow: -4px 4px rgba(0, 0, 0, 0.2); }
  @media (max-width: 479px) {
    h1 {
      font-size: 2.9rem; } }
  h1 ~ .header-ink {
    width: 75px; }

h2 {
  font-family: "Permanent Marker", sans-serif;
  font-size: 2.3rem; }
  @media (max-width: 479px) {
    h2 {
      font-size: 2rem; } }

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  line-height: 1.6; }

a {
  text-decoration: none !important;
  color: #EC4527; }

.button {
  color: #EC4527 !important;
  font-family: "Permanent Marker", sans-serif;
  position: relative;
  font-size: 1.2rem;
  border: 2px solid #EC4527;
  padding: 0.5rem 1rem !important;
  background-color: transparent; }
  .button:hover {
    border: 2px solid white;
    color: white !important; }

.nav-container {
  z-index: 100; }
  .nav-container .navbar {
    border-radius: 0; }
    .nav-container .navbar .navbar-brand {
      text-transform: uppercase;
      font-family: "Permanent Marker", sans-serif;
      font-size: 2rem;
      color: white; }
      .nav-container .navbar .navbar-brand:hover {
        color: #EC4527; }
      @media (max-width: 479px) {
        .nav-container .navbar .navbar-brand {
          font-size: 1.7rem; } }
    .nav-container .navbar ul li a {
      color: white;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .nav-container .navbar ul li a:hover {
        background-color: black !important;
        color: #EC4527; }

#landing {
  position: relative;
  background: center/cover url("../../images/landing/desktop-landing-bg.png");
  height: calc(100vh - 74px);
  margin-top: 74px;
  width: 100vw;
  padding-top: calc(195px + 4vh) !important; }
  @media (max-width: 1200px) {
    #landing {
      height: calc(100vh - 64px);
      margin-top: 64px; } }
  @media (max-width: 768px) {
    #landing {
      padding-top: 160px !important; } }
  @media (max-width: 479px) {
    #landing {
      padding-top: 130px !important;
      height: calc(100vh - 56px);
      margin-top: 56px; } }
  #landing img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    left: 49%;
    width: 725px;
    top: calc(0px + 4vh);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
    @media (max-width: 768px) {
      #landing img {
        top: 5px;
        width: 615px; } }
    @media (max-width: 479px) {
      #landing img {
        top: -30px;
        width: 590px; } }

#our-story {
  background-color: #ed9528; }
  #our-story #samurai {
    position: relative;
    width: 150%;
    top: 50px;
    -webkit-transform: translateX(-35%);
    -ms-transform: translateX(-35%);
    transform: translateX(-35%); }
    @media (max-width: 1200px) {
      #our-story #samurai {
        width: 150%;
        top: 75px; } }
    @media (max-width: 992px) {
      #our-story #samurai {
        top: 0 !important;
        width: 150%;
        left: -100px;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0); } }

#hours {
  background-color: black; }
