@mixin centerX {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}
@mixin mQ($px) {
    @media (max-width:$px) { @content; }
}
@mixin boxSizing {
    -webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
	box-sizing: border-box !important;
}