//Colors
$red: #EC4527;
$orange: #ed9528;

//Media Query
$xxs: 479px;
$xs : 768px;
$sm: 992px;
$md: 1200px;
$lg: 1600px;

//Font Family
$headerFont: 'Permanent Marker', sans-serif;
$textFont: 'Open Sans', sans-serif;