@import "_variables.scss";
@import "_mixins.scss";

* {
    @include boxSizing;
    color: white;
    transition: 0.2s;
}
body, html {
    overflow-x:hidden;
}
html {
    font-size: 16px;
    @include mQ($xxs) {
        font-size: 12px;
    }
    @include mQ($md) {
        font-size: 14px;
    }
}
.container-fluid {
    padding: 0 !important;
    &:first-child {
        background-color: black;
    }

}

//////////
// TEXT //
//////////
h1 {
    font-family: $headerFont;
    font-size: 3.5rem;
    text-shadow: -4px 4px rgba(0,0,0, 0.2);
    @include mQ($xxs) {
        font-size: 2.9rem;
    }
    ~.header-ink {
    width: 75px;
}
}
h2 {
    font-family: $headerFont;
    font-size: 2.3rem;
    @include mQ($xxs) {
        font-size: 2rem;
    }
}
p {
    font-family: $textFont;
    font-size: 1.1rem;
    line-height: 1.6;
}
a {
    text-decoration: none !important;
    color: $red;
}
button {
    font-family: $headerFont;
    position: relative;
    font-size: 1.2rem;
    border: 2px solid $red;
    padding: 0.5rem 1.5rem;
    background-color: transparent;
    &:hover {
        border: 2px solid white;
        a {
            color: white !important;
        }
    }
}



////////////
// NAVBAR //
////////////
.navbar {
    border-radius: 0;
    .navbar-brand {
        text-transform: uppercase;
        font-family: $headerFont;
        font-size: 2rem;
        color: white;
        &:hover {
            color: $red;
        }
        @include mQ($xxs) {
            font-size: 1.7rem;
        }
    }
    ul {
        li {
            a { 
                color: white;
                transition: 0.3s;
                &:hover {
                    background-color: black !important;
                    color: $red;
                }
            }
        }
    }
}

//////////////////
// LANDING PAGE //
//////////////////
#landing {
    position: relative;
    background: center / cover url('../../images/landing/desktop-landing-bg.png');
    height: calc(100vh - 74px);
    width: 100vw;
    padding-top: calc(215px + 2vh) !important;
    @include mQ($xs) {
        padding-top: 160px !important;
    }
    @include mQ($xxs) {
        padding-top: 125px !important;
    }
    img {
        user-select: none;
        position: absolute;
        left: 49%;
        width: 725px;
        top: calc(25px + 2vh);
        transform: translateX(-50%);
        @include mQ($xs) {
            top: 5px;
            width: 615px;
        }
        @include mQ($xxs) {
            top: -30px;
            width: 590px;
        }
    }
}

///////////////
// OUR STORY //
///////////////
#our-story {
    background-color: $orange;
    overflow-y:hidden;
    #samurai {
        position: relative;
        width: 150%;
        top: 50px;
        transform: translateX(-35%);
        @include mQ($md) {
            width: 150%;
            top: 75px;
        }
        @include mQ($sm) {
            top: 0 !important;
            width: 150%;
            left: -100px;
            transform: translateX(0);
        }
    }
}