@import "_variables.scss";
@import "_mixins.scss";

* {
    @include boxSizing;
}
html {
    font-size: 16px;
}
.container-fluid {
    padding: 0 !important;
    &:first-child {
        background-color: black;
    }

}
.navbar {
    border-radius: 0;
    .navbar-brand {
        text-transform: uppercase;
        font-family: $headerFont;
        font-size: 2rem;
        color: white;
        transition: 0.3s;
        &:hover {
            color: $red;
        }
    }
    ul {
        li {
            a { 
                color: white;
                transition: 0.3s;
                &:hover {
                    background-color: black !important;
                    color: $red;
                }
            }
        }
    }
}