* {
    padding: 0;
    margin: 0;
}

/* NAVBAR */
/*==========================*/
.container-fluid {
    padding: 0 !important;
}
.nav {
    float: right !important;
}
nav {
    border-radius: 0 !important;
    border: none !important;
}